@define-color rosewater  #f2e5bc;
@define-color rosewater-rgb  rgb(245, 224, 220);
@define-color flamingo  #ebdbb2;
@define-color flamingo-rgb  rgb(242, 205, 205);
@define-color pink  #d3869b;
@define-color pink-rgb  rgb(245, 194, 231);
@define-color mauve  #b16286;
@define-color mauve-rgb  rgb(203, 166, 247);
@define-color red  #ea6962;
@define-color red-rgb  rgb(243, 139, 168);
@define-color maroon  #c14a4a;
@define-color maroon-rgb  rgb(235, 160, 172);
@define-color peach  #e78a4e;
@define-color peach-rgb  rgb(250, 179, 135);
@define-color yellow  #d8a657;
@define-color yellow-rgb  rgb(249, 226, 175);
@define-color green  #a9b665;
@define-color green-rgb  rgb(166, 227, 161);
@define-color teal  #8ec07c;
@define-color teal-rgb  rgb(148, 226, 213);
@define-color sky  #89b482;
@define-color sky-rgb  rgb(137, 220, 235);
@define-color sapphire  #458588;
@define-color sapphire-rgb  rgb(116, 199, 236);
@define-color blue  #83a598;
@define-color blue-rgb  rgb(137, 180, 250);
@define-color lavender  #7daea3;
@define-color lavender-rgb  rgb(180, 190, 254);
@define-color text  #d4be98;
@define-color text-rgb  rgb(205, 214, 244);
@define-color subtext1  #bdae93;
@define-color subtext1-rgb  rgb(186, 194, 222);
@define-color subtext0  #a89984;
@define-color subtext0-rgb  rgb(166, 173, 200);
@define-color overlay2  #928374;
@define-color overlay2-rgb  rgb(147, 153, 178);
@define-color overlay1  #7c6f64;
@define-color overlay1-rgb  rgb(127, 132, 156);
@define-color overlay0  #665c54;
@define-color overlay0-rgb  rgb(108, 112, 134);
@define-color surface2  #504945;
@define-color surface2-rgb  rgb(88, 91, 112);
@define-color surface1  #45403d;
@define-color surface1-rgb  rgb(69, 71, 90);
@define-color surface0  #3c3836;
@define-color surface0-rgb  rgb(49, 50, 68);
@define-color base  #282828;
@define-color base-rgb  rgb(30, 30, 46);
@define-color mantle  #232323;
@define-color mantle-rgb  rgb(24, 24, 37);
@define-color crust  #1d2021;
@define-color crust-rgb  rgb(17, 17, 27);

* {
  font-family: "Inconsolata Nerd Font", monospace;
  font-size: 14px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 0.16em solid @lavender;
  border-radius: 0.1em;
  background-color: @base;
  animation: slideIn 0.5s ease-in-out both;
}

/* Slide In */
@keyframes slideIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @text;
  background-color: @base;
  animation: fadeIn 0.5s ease-in-out both;
}

#input image {
  border: none;
  color: @red;
}

#input * {
  outline: 4px solid @red!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @text;
  animation: fadeIn 0.5s ease-in-out both;
}

#entry {
  background-color: @base;
}

#entry arrow {
  border: none;
  color: @lavender;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid @lavender;
}

#entry:selected #text {
  color: @mauve;
}

#entry:drop(active) {
  background-color: @lavender!important;
}
